@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 339 41% 7%;
    --foreground: 337 41% 91%;
    --card: 339 41% 7%;
    --card-foreground: 337 41% 91%;
    --popover: 339 41% 7%;
    --popover-foreground: 337 41% 91%;
    --primary: 340 40% 74%;
    --primary-foreground: 339 41% 7%;
    --secondary: 19 40% 32%;
    --secondary-foreground: 337 41% 91%;
    --muted: 339 41% 80%;
    --muted-foreground: 337 41% 91%;
    --accent: 30 40% 52%;
    --accent-foreground: 339 41% 7%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 337 41% 10%;
    --border: 339 41% 60%;
    --input: 339 41% 80%;
    --ring: 30 40% 60%;
    --success: 120 40% 30%;
    --success-foreground: 339 41% 7%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #190b10;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #26151c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #26151c;
}
